@page "/"
@inject HttpClient Http
@using EasyChartBuySell
@using EasyChartBuySell.Controllers
@using Plotly.Blazor
@using Newtonsoft.Json
@inject IJSRuntime JSRuntime

@* Start of page *@

<PlotlyChart style="height: 90vh; min-height: 350px" @bind-Config="lc.config" @bind-Layout="lc.layout"
    @bind-Data="lc.data" @ref="lc.chart" />

<div class="container">
    <div class="row">
        <div class="col-sm">
            <label>Buy Amount</label>
            <input class="form-control" type="number" id="amount" @bind-value="@cStruct.buyAmount" />
        </div>
        <div class="col-sm">
            <label>Buy Price</label>
            <input class="form-control" type="number" id="amount" @bind-value="@cStruct.buyPrice" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <label>Date</label>
            <input class="form-control" type="datetime-local" id="date" @bind-value="@cStruct.dateBought" />
        </div>
    </div>
    <div class="row">
        <label><br></label>
        <div class="col-sm">
            <button type="button" class="btn btn-primary" @onclick="() => AddUserColorDataChartBtn()">Add Buy
                Amount</button>
            @* <button type="button" class="btn btn-warning" @onclick="() => AddUserColorDataChartBtn()">Add Sell
                    Amount</button> *@
            <button type="button" class="btn btn-primary" @onclick="() => Delete()">Remove last item</button>
        </div>
    </div>
    <label><br></label>
</div>

<PlotlyChart Id="Asset Bar Chart" Config="bc.barConfig" Layout="bc.barLayout" Data="bc.barDataTrace"
    @ref="bc.barChart" />

@* // TODO fix to show correct price and users portfolio *@
<h4 class="d-flex justify-content-center">Current ETH price is @currentPrice USD, and you have @tempAmount which is
    equal to @tempUserValue</h4>
<br>

@* Create charts*@
@code
{
    BarChart bc = new BarChart();
    LineChart lc = new LineChart();
    string currentPrice;
    DateTime dateBought = DateTime.Now;
    bool userHasSavedData = false;
    double tempAmount = 0;
    double tempUserValue = 0;

    Helper.ChartStruct cStruct = new Helper.ChartStruct
    {
        buyPrice = 0,
        buyAmount = 0,
        dateBought = DateTime.Now
    };

    List<Helper.ChartStruct> listOfCartStructs = new List<Helper.ChartStruct>();
}

@* Business logic *@
@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            userHasSavedData = Convert.ToBoolean(await JSRuntime.InvokeAsync<string>("localStorage.getItem", "userHasSavedData"));

            if (userHasSavedData)
            {
                listOfCartStructs = JsonConvert.DeserializeObject<List<Helper.ChartStruct>>(await JSRuntime.InvokeAsync<string>("localStorage.getItem", "listOfCartStructs"));
            }

            await RenderChart();
        }
    }

    private async Task RenderChart()
    {
        var getData = await Http.GetStringAsync(Helper.ethPath);
        List<string> parsedDataList = getData.Split(new[] { "\r\n" }, StringSplitOptions.None)
        .ToList();
        await lc.ShowChartData(parsedDataList);

        if (userHasSavedData)
        {
            //await ReadLocalStorage();
            await lc.RenderSavedUserData(listOfCartStructs);
            await bc.RenderSavedBarUserData(listOfCartStructs);
        }

        currentPrice = parsedDataList[parsedDataList.Count - 2]; // Its -2 because the last item is empty space
        await InvokeAsync(() => StateHasChanged());
    }

    private async Task AddUserColorDataChartBtn()
    {
        if (!userHasSavedData)
        {
            await lc.AddUserData(cStruct, userHasSavedData);
            await bc.BuyIncreaseBarChart(cStruct);
            userHasSavedData = true;
        }
        else
        {
            await lc.AddUserData(cStruct, userHasSavedData);
            await bc.BuyIncreaseBarChart(cStruct);
        }

        tempAmount += cStruct.buyAmount;

        // Warning! This is hacked, because the incoming data is not parsed correctly
        tempUserValue = Convert.ToDouble(currentPrice.TrimEnd('"').TrimStart('"')) * tempAmount;

        listOfCartStructs.Add(cStruct);
        await Save();

        cStruct.buyAmount = 0;
        cStruct.buyPrice = 0;
        cStruct.dateBought = DateTime.Now;

        System.Console.WriteLine("save list of cartstructs");
        foreach (var item in listOfCartStructs)
        {
            System.Console.WriteLine(item.buyAmount);
            System.Console.WriteLine(item.buyPrice);
            System.Console.WriteLine(item.dateBought);
        }
    }
}

@* Local Storage*@
@code {
    public async Task Save()
    {
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "listOfCartStructs", JsonConvert.SerializeObject(listOfCartStructs));
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "userHasSavedData", userHasSavedData);

        System.Console.WriteLine("Saved in local storage " + listOfCartStructs);
    }

    public async Task Delete()
    {
        System.Console.WriteLine("Items before " + listOfCartStructs.Count);
        await JSRuntime.InvokeAsync<string>("localStorage.removeItem", "listOfCartStructs");

        listOfCartStructs.RemoveAt(listOfCartStructs.Count - 1);

        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "listOfCartStructs", JsonConvert.SerializeObject(listOfCartStructs));
        System.Console.WriteLine("Items now " + listOfCartStructs.Count);

        // TODO redraw chart
    }
}