@page "/"
@inject HttpClient Http
@using Plotly.Blazor
@using Plotly.Blazor.LayoutLib
@using Plotly.Blazor.Traces.ScatterLib

<h1>Hello, world!</h1>
<h4>Current ETH price is @ethPrice USD</h4>

<PlotlyChart style="height: 60vh; min-height: 350px" @bind-Config="config" @bind-Layout="layout" @bind-Data="data"
    @ref="chart" />

<div class="text-right">
    <form class="form-inline">
        <label>Buy Amount</label>
        <input class="form-control" type="text" id="amount" @bind-value="@buyAmount" />
        <label>Buy Price</label>
        <input class="form-control" type="text" id="amount" @bind-value="@buyPrice" />
        <input class="form-control" type="datetime-local" id="date" @bind-value="@dateBought" />
        <button type="button" class="btn btn-primary" @onclick="() => AddNewData()">Add Buy Amount</button>
        <button type="button" class="btn btn-primary" @onclick="() => BuyMoreData()">Buy More Amount</button>
        <button type="button" class="btn btn-primary" @onclick="() => chart.Clear()">Clear</button>
    </form>
</div>

<PlotlyChart Id="Asset Bar Chart" Config="barConfig" Layout="barLayout" Data="barData" @ref="barChart"/>

@code
{
    PlotlyChart barChart;

    Config barConfig = new Config
    {
        Responsive = true
    };

    Layout barLayout = new Layout
    {
        Title = new Title
        {
            Text = "Your assets"
        },
        BarMode = BarModeEnum.Stack,
        Height = 300
    };

    List<ITrace> barData = new List<ITrace>
    {
        @* new Bar
        {
            X = new List<object> {"ETH"},
            Y = new List<object> {0.1},
            Name = "Bought ETC at" + DateTime.Now
        },
        new Bar
        {
            X = new List<object> {"ETH"},
            Y = new List<object> {0.5},
            Name = "Bought ETH at" + DateTime.Now
        } *@
    };
}

@code
{
    PlotlyChart chart;

    Config config = new Config
    {
        Responsive = true
    };

    Layout layout = new Layout
    {
        Title = new Plotly.Blazor.LayoutLib.Title
        {
            Text = "ETH 1 Hour Chart"
        },
        YAxis = new List<YAxis>
        {
            new YAxis
            {
                Title = new Plotly.Blazor.LayoutLib.YAxisLib.Title
                {
                Text = "USD Price"
                }
            }
        }
    };

    IList<ITrace> data = new List<ITrace>
    {
        new Scatter
        {
            Name = "ETH Price",
            Mode = ModeFlag.Lines | ModeFlag.Markers,
            X = new List<object>(),
            Y = new List<object>()
        }
    };
}

@code
{
    string ethPrice;

    private async Task ShowData(int count = 100)
    {
        if (!(chart.Data.FirstOrDefault() is Scatter scatter)) return;

        var parsedData = await Http.GetStringAsync("Data/eth.txt");

        List<string> dataList = parsedData.Split(new[] { "\r\n" }, StringSplitOptions.None)
        .ToList();

        ethPrice = dataList[dataList.Count-2]; // Its -2 because the last item is empty space
        await InvokeAsync(() => StateHasChanged());

        var x = new List<object>();
        var y = new List<object>();

        foreach (var item in dataList)
        {
            y.Add(item);
        }

        var startDate = new DateTime(2021, 5, 14, 18, 0, 0);
        var time = 0;
        for (int i = 0; i < dataList.Count; i++)
        {
            x.Add(startDate);
            startDate = startDate.AddHours(1);
            time++;
            if (time == 24)
            {
                time = 0;
            }
        }

        if (!scatter.X.Any() || !scatter.Y.Any())
        {
            scatter.X.AddRange(x);
            scatter.Y.AddRange(y);
            await chart.React();
        }
        else
        {
            await chart.ExtendTrace(x, y, data.IndexOf(scatter));
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ShowData();
        }
    }

    int buyPrice = 0;
    double buyAmount = 0;

    DateTime dateBought = DateTime.Now;

    IList<ITrace> buyData = new List<ITrace>
    {
        new Scatter
        {
            Name = "Buy",
            Mode = ModeFlag.Lines | ModeFlag.Markers,
            X = new List<object>(),
            Y = new List<object>()
        }
    };
    private async Task AddNewData()
    {
        var x = new List<object>();
        var y = new List<object>();

        // Buy price 
        y.Add(buyPrice);

        // At time
        x.Add(dateBought);

        var scatter = new Scatter
        {
            Name = $"Time Bought{buyData.Count + 1}",
            Mode = ModeFlag.Lines | ModeFlag.Markers,
            X = x,
            Y = y,
        };

        await chart.AddTrace(scatter);//x, y, data.IndexOf(scatter));

        // Buy amount
        barData.Add(new Bar
        {
            X = new List<object> {"ETH"},
            Y = new List<object> {buyAmount},
            Name = "Bought ETH at " + dateBought
        });

        await barChart.React();
    }
    private async Task BuyMoreData()
    {
        var x = new List<object>();
        var y = new List<object>();

        // Buy amount
        y.Add(buyPrice);

        // At time
        x.Add(dateBought);

        var scatter = new Scatter
        {
            Name = $"Time Bought{buyData.Count + 1}",
            Mode = ModeFlag.Lines | ModeFlag.Markers,
            X = x,
            Y = y,
        };

        await chart.ExtendTrace(x, y, data.IndexOf(scatter));

        barData.Add(new Bar
        {
            X = new List<object> {"ETH"},
            Y = new List<object> {buyAmount},
            Name = "Bought ETH at " + dateBought
        });

        await barChart.React();
    }
}